body {
  margin: 0;
  font-family: 'Rubik','sans-serif',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #cedcf5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-img{
  width:160px;
  max-width: 100%;
  height:auto;
}

.img-responsive{
  max-width: 100%;
  height:auto;
}

.rounded-1 {
  border-radius: 5px;
}

.rounded-2 {
  border-radius: 10px;
}

.rounded-3 {
  border-radius: 15px;
}

.logo-img{
  width:190px;
  max-width: 100%;
  display: flex;
  margin: 0 auto;
}

/* login page css */
#loginPage{
  height:100vh;
}



.loginSide{
  height: 100%;
  background:linear-gradient(297deg, rgba(50,109,217,0.4) 35%, rgba(0,0,0,0.6) 100%);
  /*background:linear-gradient(130deg, rgba(238,53,42,0.45) 20%, rgba(2,0,36,0.45) 60%, rgba(255,255,255,0.25) 81%), url("assets/images/loginBack.jpg");*/
  /*background: rgba(238, 53, 42,0.5);*/
  background-size: cover;
  background-position: center;
}

.loginSide1{
  height: 100%;
  background:linear-gradient(213deg, rgba(63, 126, 243, 0.4) 30%, rgba(0,0,0,0.6) 100%), url("https://source.unsplash.com/collection/9263865/1280x720");
  /*background:linear-gradient(130deg, rgba(238,53,42,0.45) 20%, rgba(2,0,36,0.45) 60%, rgba(255,255,255,0.25) 81%), url("assets/images/loginBack.jpg");*/
  /*background: rgba(238, 53, 42,0.5);*/
  background-size: cover;
  background-position: center;
}

.homeback{
  height:100vh;
  background:linear-gradient(297deg, rgba(50,109,217,0.4) 35%, rgba(0,0,0,0.6) 100%);
  /*background:linear-gradient(130deg, rgba(238,53,42,0.45) 20%, rgba(2,0,36,0.45) 60%, rgba(255,255,255,0.25) 81%), url("assets/images/loginBack.jpg");*/
  /*background: rgba(238, 53, 42,0.5);*/
  background-size: cover;
  background-position: center;
}

.loginSideText{
  float: left;
  margin-left:20%;
  margin-top:25%;
}

.bg-gray{
  background: #E5E6E8;
}

/* Profile page */
.elevation-4{
  background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
}

.trip-img{
  display: flex;
  width: auto;
  height:100%;
  max-width:100%;
  object-fit: cover;
  border-radius: 5px!important;
  margin:0 auto;
}

/* some common use css */
.flex-center{
  display: flex!important;
  margin: 0 auto!important;
}

.hr-fancy1{
  width:20%;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: #a2bef1;
}
